.all{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em ;
}
.principal{
    height: 95%;
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
}

.contenedor-icono{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.titulo{
    width: 100%;
    text-align: center;
}


.boton_enviar{
    text-align: center;
    width: 100%;
}

.tarea_estudiante{
    width: 100%;
    display: grid;
    grid-column: auto;
    align-items: center;

}

.tarea{

    display: block;
    margin: 2%;

}


.estudiante{

    display: block;
    margin: 2%;
}


.fecha_inicio{
    display: block;
    margin: 2%;
}
.form-control{
    width: 50%;
}


input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    width: auto;
    font-size: 1em;
}

#estudiante{
    background-color: green;
}

.verMenus{
    align-items: center;
    text-align: center;
    font-size: 4em;
    background-color: blanchedalmond;
    height: 100%;
    padding-top: 3%;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .principal{
        font-size: 3rem;
    }
    .selecciones{
        height: auto;
        width: 100%;
    }

    .form-control{
        font-size: 2rem;
    }
}