html, body {
        height: 100%;
        width: 100%;
        padding: 0%;
        margin: 0%;
    }

	body{
		background-color:aliceblue;
		font-family: 'Escolar2', sans-serif;
	}

    .not_found{
        height: 1%;
    }

	.cabecera{
		display: flex;
		align-items: center;
		text-align: center;
        background-color: cornsilk;
        border: 3px solid black;
        margin: 1%;
        border-radius: 15px;
	}

    a{
        text-decoration: none;
        color: black;
    }

    .logo {
        padding-left: 75px;
        padding-right: 300px ;
    }
	h1 {
		font-size: 4em;
		width: 70%;
		align-items: center;
	}
    h2 {
        font-size: 2.5em;
    }
    .contenedor-inicio {
        text-align: center;
    }
    .contenedor-icono {
        width: 30%;
    }
    .contenedor-icono span {
        font-size: 40px;
        padding-left: 4%;
    }
    .titulo-inicio{
        font-size: 3em;
    }
    .contenedor-btn {
        width: 100%;
        text-align: center;
    }
    i {
        font-size: 4em;
    }

    label{
        font-size: 1.4em;
    }

    form {
        font-size: 2.5em;
        font-weight: bold;
    }

    input[type=text], input[type=password] {
        width: 100%;
        height: 15%;
        background-color:aliceblue;
        padding: 15px;
        margin-top: 2%;
        font-size: 1em;
        font-family: 'Escolar2', sans-serif;
    }

    input[type=text]:focus, input[type=password]:focus {
        background-color:rgb(210, 209, 209);
    }
    i:hover {
        color: rgb(243, 168, 89);
    }

    .formulario {
        height: auto;
        display : flex;
        margin: 4%;
        justify-content : center;
        align-items : center;
    }

    .contenido {
        border: 3px solid rgb(0, 0, 0);
        border-radius: 40px;
        background-color:cornsilk;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: 70%;
        padding: 40px;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 16px 32px;
        font-family: 'Escolar2', sans-serif;
        text-decoration: none;
        margin: 4px 2px;
        width: 50%;
        font-size: 2em;
    }