<html lang="es">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/agenda.css' %}">
    <script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
    <!--<link rel="icon" type="image/x-icon" href='{% static "agenda.jpg" %}'>-->
    <title>APNE</title>
</head>

<body>
    <a href="{% url 'index' %}">
    <div class="logout">
        <img src="/static/apagar.png" alt="Pictograma de un botón de apagado">
    </div>
    </a>
    <div class = "cabecera">
        
        <div class = "anterior">
            {% if dia_semana != 'Monday' %}
            <div class = "flecha" id ="paginaAnterior" style="border: 2px solid black">
                <a href="{% url 'agenda' estudiante fecha_prev prev %}" ><i class="fa-solid fa-left-long" alt="Icono de una flecha que señala a la izquierda"></i></a>
            </div>
            {% endif %}
        </div>

        <div class = "imagenCentral">
            <img src="/static/imagenes/semana/{{dia_semana}}.png" alt="Pictograma del dia de la semana {{dia_semana}}">
        </div>

        <div class = "siguiente">
            {% if dia_semana != 'Friday' %}
            <div class = "flecha" id = "paginaSiguiente" style="border: 2px solid black">
                <a href="{% url 'agenda' estudiante fecha_pos pos%}" ><i class="fa-solid fa-right-long" alt="Icono de una flecha que señala a la derecha"></i></a>
            </div>
            {% endif %}
        </div>

    </div>

    <div class="section"> 
        <div class="grid-container">
            {% for tarea in tareas %}
                <div class="reloj">
                    <img src="/static/imagenes/horas/{{tarea.FechaIni.hour}}.png" alt="Pictograma de un reloj que marca las {{tarea.FechaIni.hour}} en punto">
                </div>
                <div class="tarea">       
                    {%if tarea.Tipo == 'C' %}
                        <div class="titulo">
                            <a href="{% url 'comanda_general'%}"><b><span style="text-transform:uppercase">{{tarea.Descripcion}}</span></b></a>
                        </div>
                        <div class="contenedorImagen">
                            <a href="{% url 'comanda_general'%}">
                                {% load static %}
                                <img src="/{{tarea.Imagen}}" alt="Imagen de {{tarea.Descripcion}}"> 
                            </a>
                        </div>
                    {%else%}
                        <div class="titulo">
                            {% if obj_estudiante.ModoImagen %}
                            <a href="{% url 'visualizar_tareas_img' tarea.Tarea_id estudiante fecha dia_semana%}"><b><span style="text-transform:uppercase">{{tarea.Descripcion}}</span></b></a>
                            {% else %}
                            <a href="{% url 'visualizar_tareas_txt' tarea.Tarea_id estudiante fecha dia_semana%}"><b><span style="text-transform:uppercase">{{tarea.Descripcion}}</span></b></a>
                            {% endif %}
                        </div>
                        <div class="contenedorImagen">
                            <a href="{% url 'visualizar_tareas_img' tarea.Tarea_id estudiante fecha dia_semana%}">
                                {% load static %}
                                <img src="/{{tarea.Imagen}}" alt="Imagen de {{tarea.Descripcion}}"> 
                            </a>
                        </div>
                    {%endif%}
                       
                </div>
                <div class="realizacion">
                    {% if tarea.Check %}
                    <div class="greenIcon">
                        <i class="fa-regular fa-circle-check" alt="Icono que muestra un círculo con un check verde"></i>
                    </div>
                    {% else %}
                    <div class="redIcon">
                        <i class="fa-solid fa-xmark" alt="Icono que muestra una cruz roja"></i>
                    </div>
                    {% endif %}
                </div>  

            {% endfor %}
        </div>

    </div>

</body>
</html>
