<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/agenda.css' %}">
    <script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
    <!--<link rel="icon" type="image/x-icon" href='{% static "agenda.jpg" %}'>-->
    <title>APNE</title>
</head>

<body>
    <a href="{% url 'index' %}">
    <div class="logout">
        <span>CERRAR SESIÓN</span>
    </div>
    </a>
    <div class = "cabecera">
        
        <div class = "anterior">
            <div class = "flecha" id ="paginaAnterior">
                <a href="{% url 'agendamenos' estudiante %}" ><i class="fa-solid fa-left-long"></i></a>
            </div>
        </div>

        <div class = "imagenCentral">
            <img src="/static/imagenes/semana/{{dia_semana}}.png" alt="Pictograma del dia de la semana {{dia_semana}}">
        </div>

        <div class = "siguiente">
            <div class = "flecha" id = "paginaSiguiente">
                <a href="{% url 'agendamas' estudiante %}" ><i class="fa-solid fa-right-long"></i></a>
            </div>
        </div>

    </div>

    <div class="section"> 
        <div class="grid-container">
            {% for tarea in tareas %}
                <div class="reloj">
                    <img src="/static/imagenes/horas/{{tarea.FechaIni.hour}}.png" alt="Pictograma de un reloj que marca las {{tarea.FechaIni.hour}} en punto">
                </div>
                <div class="tarea">

                    <div class="titulo">
                        <a href="{% url 'visualizar_tareas_img' tarea.Tarea_id %}"><b><span>{{tarea.Descripcion}}</span></b></a>
                    </div>
                    <div class="contenedorImagen">
                        <a href="{% url 'visualizar_tareas_img' tarea.Tarea_id %}">
                            {% load static %}
                            <img src="/{{tarea.Imagen}}" alt="Imagen de {{tarea.Descripcion}}"> 
                        </a>
                    </div>
                </div>
                <div class="realizacion">
                    {% if tarea.Check %}
                    <div class="greenIcon">
                        <i class="fa-regular fa-circle-check"></i>
                    </div>
                    {% else %}
                    <div class="redIcon">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    {% endif %}
                </div>  

            {% endfor %}
        </div>

    </div>

</body>
