<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/agenda.css' %}">
    <script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
    <!--<link rel="icon" type="image/x-icon" href='{% static "agenda.jpg" %}'>-->
    <title>APNE</title>
</head>

<body>
    <a href="{% url 'index' %}">
    <div class="logout">
        <span>CERRAR SESIÓN</span>
    </div>
    </a>
    <div class = "cabecera">
        
        <div class = "anterior">
            <div class = "flecha" id ="paginaAnterior" onclick="previousPage()">
                <i class="fa-solid fa-left-long"></i>
            </div>
        </div>

        <div class = "imagenCentral">
            {% load static %}
            <img src='{% static "imagenes/semana/lunes.png" %}' alt="Pictograma del dia de la semana Lunes">
        </div>

        <div class = "siguiente">
            <div class = "flecha" id = "paginaSiguiente" onclick="nextPage()">
                <i class="fa-solid fa-right-long"></i>
            </div>
        </div>

    </div>

    <div class="section"> 
    
        <div class="grid-container">
            <div class="reloj">
                {% load static %}
                <img src='{% static "imagenes/horas/ocho.png" %}' alt="Pictograma de un reloj que marca las ocho en punto">
            </div>
                        
            <div class="tarea">
                <div class="titulo">
                    <a href="{% url 'visualizar_tareas_img' %}"><b><span>LAVARSE LAS MANOS</span></b></a>
                </div>
                <div class="contenedorImagen">
                    <a href="{% url 'visualizar_tareas_img' %}"><img src='{% static "imagenes/tareas/lavarse_las_manos/lavarse_las_manos.png" %}' alt="Pictograma de lavarse las manos"> </a>
                </div>
            </div>

            <div class="realizacion">
                <div class="greenIcon">
                    <i class="fa-regular fa-circle-check"></i>
                </div>
            </div>  
            <div class="reloj">
                {% load static %}
                <img src='{% static "imagenes/horas/once.png" %}' alt="Pictograma de un reloj que marca las once en punto">
            </div>
            <div class="tarea">
                <div class="titulo">
                    <a href="{% url 'comanda_general' %}"><b><span>MENUS</span></b></a>
                </div>
                <div class="contenedorImagen">
                    <a href="{% url 'comanda_general' %}"><img src='{% static "menu.png" %}' alt="Comandas Menus"> </a>
                </div>
            </div>
            <div class="realizacion">

            </div>  
            <div class="reloj">
                {% load static %}
                <img src='{% static "imagenes/horas/doce.png" %}' alt="Pictograma de un reloj que marca las doce en punto">
            </div>
            <div class="tarea">
                
            </div>
            <div class="realizacion">
                <div class="redIcon">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>  
        </div>

    </div>

</body>

<script>
     let previous = document.getElementById("paginaAnterior");
        previous.hidden = true;
    let next = document.getElementById("paginaSiguiente");
    function nextPage() {
        
    }
    function previousPage() {
    }
</script>