{%load static%}
<script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'anadir_menu.css' %}">
<link rel="stylesheet" href="{% static 'styles.css' %}">

<div class = "cabecera">
	<div class = "contenedor-icono">
		{% load static %}
		<a href="{% url 'comandaGeneral' %}" ><i class="fa-solid fa-left-long"></i></a>
	
	</div>
	<h1>CLASE {{profe.Letra}}: LA CLASE DE {{nombreProfesor}}</h1> 
	<div class = "fotos-laterales">
		<img src="../../../{{profe.FotoClase}}" alt="menu comedor" class ="fotoClase">
		<img src="../../../{{profe.FotoProfesor}}" alt="menu comedor" class ="fotoProfesor">
	</div>
	
</div>
<div class="content">
	<form method="POST" action ="" enctype="multipart/form-data">
		{% csrf_token %}
		{% for menu in menus %}
		<div class="menu">
			<h2 class="tipo" name = "tipoMenu">{{menu.Tipo}}</h2>
			<img src="../../../{{menu.Imagen}}" name="imagenMenu" class = "imagenMenu">
			{{form.Cantidad}}
			{%load static%}
			<img src="{% static 'menos.png' %}" name = "imagenMenos" class = "imagenMenos" onclick= "restarCantidad('{{ menu.Tipo }}')">
			{% for numero in numeros %}
			<img src="../../../{{numero.Imagen}}" name = "imagenNumero" class = "imagenNumero">
			{% endfor %}
			{%load static%}
			<img src="{% static 'mas.png' %}" id = "{{ menu.Tipo }}" class = "imagenMas" onclick = "sumarCantidad('{{ menu.Tipo }}')">
			
			{{solicitudes.TipoMenu}}
			
		</div>
		{% endfor %}
	</form>
	<div class = "flechas">
		<div class = "contenedor-icono2" id ="paginaAnterior" onclick="previousMenu()">
			<i class="fa-solid fa-left-long"></i>
			<span><u>Página anterior</u></span>
			
		</div>
        <input type="submit" name ="prueba" id="envioForm">
		<div class = "contenedor-icono2" id ="paginaSiguiente" onclick="nextMenu()" >
			<span ><u>Página siguiente</u></span>
			<i class="fa-solid fa-right-long"></i>
		</div>
	</div>
    
</div>

<script>
    var pagSiguiente = document.getElementById("paginaSiguiente");
    var pagAnterior = document.getElementById("paginaAnterior");

    pagAnterior.style.display = "none";

	var cantidades = document.getElementsByName("Cantidad");
	var tipos = document.getElementsByName("tipoMenu");
	var fotos = document.getElementsByName("imagenMenu");
	var botonEnviar = document.getElementsByName("prueba");
	var imagenMas = document.getElementsByClassName("imagenMas");
	var imagenMenos = document.getElementsByName("imagenMenos");
    var tip = 0;
	var showHidden = 0;
	var cuentaPag = 0;
    var numeros = document.getElementsByName("imagenNumero");
	var vectorCantidades = [0,0,0,0,0,0];
    const ids = [];
    // itera por todos los menus disponibles


    for(let i = 0 ; i < imagenMas.length ; i++){
        ids.push(imagenMas.item(i).id);
    }
    cantidades.forEach(c => {
            c.style.display = "none";
    })

    ocultarMenus(0);
    function ocultarMenus(pagina){
        hideManos(pagina);

        for(let i = 0 ; i < imagenMas.length ; i++){

            toSet(imagenMas,i,true);
            toSet(imagenMenos,i,true);
            toSet(fotos,i,true);
            toSet(tipos,i,true);
        }

        let pag = pagina * 2;
        for(let i = pag ; i < pag+2 ; i++){

            toSet(imagenMas,i,false);
            toSet(imagenMenos,i,false);
            toSet(fotos,i,false);
            toSet(tipos,i,false);
        }

    }

    function toCheck(a,pos){
        return pos >= 0 && pos < a.length;
    }
    function toSet(a,pos,isNone){
        if(toCheck(a,pos)){
             if(isNone){
                 a.item(pos).style.display = "none";
             }else{
                 a.item(pos).style.display = "inline";
             }

        }
    }



	function hideManos(pagina){
        for(let i = 0 ; i < numeros.length ; i++){
            toSet(numeros,i,true);
        }

        // 0 , 11, 22 , 33 , 44 , 55 , 66

        let cantidad_primero = vectorCantidades[pagina*2];
        let cantidad_segundo = vectorCantidades[pagina*2+1];


        let primer = pagina*2*11 + cantidad_primero;          
        let segundo = (pagina*2+1)*11 + cantidad_segundo;     
        toSet(numeros,primer,false);
        toSet(numeros,segundo,false);
    }


	function nextMenu() {
        tip++;
        if(tip >= tipos.length/2){
            tip = tipos.length/2 - 1 ;
        }
        if(tip >= tipos.length/2 -1){
            pagSiguiente.style.display = "none";
        }else{
            pagSiguiente.style.display = "inline";
        }
        pagAnterior.style.display = "inline";
        ocultarMenus(tip);
	}

    function previousMenu(){
        tip--;
        if(tip < 0){
            tip = 0;
        }
        if(tip == 0){
            pagAnterior.style.display = "none";
        }else{
            pagAnterior.style.display = "inline";
        }
        pagSiguiente.style.display = "inline";
        ocultarMenus(tip);
    }


	function sumarCantidad(tipoClicked) {
        let pos = ids.indexOf(tipoClicked);

        if(!toCheck(vectorCantidades,pos)) return;
        if(!toCheck(numeros,vectorCantidades[pos])) return;

        vectorCantidades[pos]++;
        if(vectorCantidades[pos] >= numeros.length/tipos.length){
            vectorCantidades[pos] = numeros.length/tipos.length -1;
        }
        hideManos(tip);
        cantidades.item(pos).value=vectorCantidades[pos];

	}

	function restarCantidad(tipoClicked) {
        let pos = ids.indexOf(tipoClicked);
        if(!toCheck(vectorCantidades,pos))return;
        if(!toCheck(numeros,vectorCantidades[pos])) return;

        vectorCantidades[pos]--;
        if(vectorCantidades[pos] < 0){
            vectorCantidades[pos] = 0;
        }
        hideManos(tip);
        cantidades.item(pos).value=vectorCantidades[pos];



	}

</script>