{%load static%}
<link rel="stylesheet" href="{% static 'anadir_menu.css' %}">
<link rel="stylesheet" href="{% static 'styles.css' %}">

<div class = "cabecera">
	{% load static %}
	<h1>COMANDAS: MENÚ {{profe.Letra}}</h1> <img src='{% static "menu.png" %}' alt="menu comedor">
</div>

<div class="content">
	<form method="POST" action ="/">
		{%csrf_token%}
		{{form}}
		<input type="submit" name ="prueba">
	</form>
	<!-- <img src="../../../{{profe.FotoProfesor}}" class="fotoprofe"> -->
	<h1>{{profe.Profesor}}</h1>
</div>
