{%load static%}
<script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'anadir_menu.css' %}">
<link rel="stylesheet" href="{% static 'styles.css' %}">

<div class = "cabecera">
	<div class = "contenedor-icono">
		{% load static %}
		<a href="{% url 'comandaGeneral' %}" ><i class="fa-solid fa-left-long"></i></a>
	
	</div>
	<h1>Clase {{profe.Letra}}: La clase de {{nombreProfesor}}</h1> 
	<div class = "fotos-laterales">
		<img src="../../../{{profe.FotoClase}}" alt="menu comedor" class ="fotoClase">
		<img src="../../../{{profe.FotoProfesor}}" alt="menu comedor" class ="fotoProfesor">
	</div>
	
</div>
<div class="content">
	<form method="POST" action ="" enctype="multipart/form-data">
		{% csrf_token %}
		{% for menu in menus %}
		<div class="menu">
			<h2 class="tipo" name = "tipoMenu">{{menu.Tipo}}</h2>
			<img src="../../../{{menu.Imagen}}" name="imagenMenu" class = "imagenMenu">
			{{form.Cantidad}}
			{%load static%}
			<img src="{% static 'menos.png' %}" name = "imagenMenos" class = "imagenMenos" onclick= "restarCantidad()">
			{% for numero in numeros %}
			<img src="../../../{{numero.Imagen}}" name = "imagenNumero" class = "imagenNumero">
			{% endfor %} 
			{%load static%}
			<img src="{% static 'mas.png' %}" name = "imagenMas" class = "imagenMas" onclick = "sumarCantidad()">
			
			{{solicitudes.TipoMenu}}
			
		</div>
		{% endfor %}
		<input type="submit" name ="prueba">
	</form>
	<div class = "flechas">
		<div class = "contenedor-icono2" id ="paginaAnterior" onclick="previousMenu()">
			<i class="fa-solid fa-left-long"></i>
			<span><u>Página anterior</u></span>
			
		</div>

		<div class = "contenedor-icono2" name ="paginaSiguiente" onclick="nextMenu()" >
			<span ><u>Página siguiente</u></span>
			<i class="fa-solid fa-right-long"></i>
		</div>
	</div>
</div>

<script>
	let cantidades = document.getElementsByName("Cantidad");
	let tipos = document.getElementsByName("tipoMenu");
	let fotos = document.getElementsByName("imagenMenu");
	let botonEnviar = document.getElementsByName("prueba");
	let imagenMas = document.getElementsByName("imagenMas");
	let imagenMenos = document.getElementsByName("imagenMenos");

	botonEnviar.item(0).hidden = true;
	let showHidden = 0;
	let cuentaPag = 0;


	for (let k = 2; k < 6; k++) {
		cantidades.item(k).hidden = true;
		tipos.item(k).hidden = true;
		fotos.item(k).hidden = true;
		imagenMas.item(k).hidden = true;
		imagenMenos.item(k).hidden = true;
	}

	let numeros = document.getElementsByName("imagenNumero");
	
	let i = 1;
	let j = 11;

	for (let k = 0; k < 6; k++) {
		for (i; i < j; i++) {
			numeros.item(i).hidden = true;
		}
		if (i < 22 && j < 22){
			i++; 
			j = j + 11;
		} else {
			j = j+11;
		}
	}
	let tip = 0;
	i = 0; j = 11;

	function nextMenu() {
		
		tipos.item(tip).hidden = true;
		tipos.item((tip + 1) % 6).hidden = true;
		tipos.item((tip + 2) % 6).hidden = false;
		tipos.item((tip + 3) % 6).hidden = false;

		fotos.item(tip).hidden = true;
		fotos.item((tip + 1) % 6).hidden = true;
		fotos.item((tip + 2) % 6).hidden = false;
		fotos.item((tip + 3) % 6).hidden = false;

		imagenMas.item(tip).hidden = true;
		imagenMas.item((tip + 1) % 6).hidden = true;
		imagenMas.item((tip + 2) % 6).hidden = false;
		imagenMas.item((tip + 3) % 6).hidden = false;

		imagenMenos.item(tip).hidden = true;
		imagenMenos.item((tip + 1) % 6).hidden = true;
		imagenMenos.item((tip + 2) % 6).hidden = false;
		imagenMenos.item((tip + 3) % 6).hidden = false;

		tip = (tip + 2) % 6;
		
		let y = 11;
		console.log(i, j);
		numeros.item(i).hidden = true;
		numeros.item(j).hidden = true;
		numeros.item((i+22) % 66).hidden = false;
		numeros.item((j+22) % 66).hidden = false;
		console.log(i+22, j+22);
		i = (i + 22) % 66;
		j = (j + 22) % 66;
	}

	let vectorCantidades = [0,0,0,0,0,0];

	function sumarCantidad() {
		if (!imagenMas.item(tip).hidden && vectorCantidades[tip + 1] == 0){
			vectorCantidades[tip]++;
			cantidades.item(tip).value=vectorCantidades[tip];
			console.log(cantidades.item(tip).value);
		}
		if (!imagenMas.item(tip + 1).hidden && vectorCantidades[tip] != 0){
			vectorCantidades[tip + 1]++;
			cantidades.item(tip + 1).value=vectorCantidades[tip + 1];
			console.log(cantidades.item(tip + 1).value);
		}
	}

	function restarCantidad() {
		if (!imagenMenos.item(tip).hidden){
			vectorCantidades[tip]--;
			cantidades.item(tip).value=vectorCantidades[tip];
			console.log(cantidades.item(tip).value);
		}
		if (!imagenMenos.item(tip + 1).hidden){
			vectorCantidades[tip + 1]--;
			cantidades.item(tip + 1).value=vectorCantidades[tip + 1];
			console.log(cantidades.item(tip + 1).value);
		}
	}

</script>
