<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/comanda_general.css' %}">
    <script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
    <!--<link rel="icon" type="image/x-icon" href='{% static "agenda.jpg" %}'>-->
    <title>APNE</title>
</head>

<body>




<div class = "cabecera">
    <div class = "contenedor-icono">
        {% load static %}
        <a href="{% url 'index_estudiante' %}" ><i class="fa-solid fa-left-long"></i></a>
    </div>

	<h1><b>COMANDAS COMEDOR </b></h1>

    <div class = "imagenCentral">
        {% load static %}
        <img src='{% static "clases.png" %}' alt="Pictograma de una clase">
    </div>
</div>


<div class="section"> 
    {% for clase in clases %}
    <div class="imagen">
        <a href="{% url 'anadir_menu' clase.Letra %}">
            {% if clase.Check %}
            <div class="greenImg">
            {% else %}
            <div class = "redImg">
            {%endif%}
            {% load static %}
            <img src="../../../{{clase.FotoProfesor}}" alt="Foto">
                <div class="desc">
                    <b> Clase {{clase.Letra}}: {{clase.Profesor}} </b>
                    {% if clase.Check == True %}
                    <div class="greenIcon">
                        <i class="fa-regular fa-circle-check"></i>
                    </div>
                    {% else %}
                    <div class="redIcon">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    {% endif %}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}     

</div>

<div class = "contenedor-icono2">

    <div class = "previous">
        <div class = "contenido" id ="paginaAnterior" onclick="previousPage()">
            <i class="fa-solid fa-left-long"></i>
            <span>Página anterior</span>
        </div>
    </div>

    <div class = "next">
        <div class = "contenido" id = "paginaSiguiente" onclick="nextPage()" style="float: right;">
            <span>Página siguiente</span>
            <i class="fa-solid fa-right-long"></i>
        </div>
    </div>
</div>


</body>

<script>
    let clases = document.getElementsByClassName("imagen");
    let previous = document.getElementById("paginaAnterior");
        previous.hidden = true;
    let next = document.getElementById("paginaSiguiente");
    if ( clases.length > 4) {
        for (let i = 4 ; i < clases.length; i++) 
            clases.item(i).hidden = true;
    }
    else 
        next.hidden = true;
    let ultimo = 3;
    let mostrando = 4;
    function nextPage() {

        previous.hidden = false;

        // Ocultamos las clases que se han mostrado en la página anterior si existen más clases por mostrar
        if ( (ultimo+1) != clases.length ) {
            for (let i = ultimo; i >= ultimo-3 ; i--) 
                clases.item(i).hidden = true;
        

            // Mostramos las siguientes clases 
            
            for (let i = ultimo+1 ; (i < clases.length) && (i < ultimo+5) ; i++) {
                clases.item(i).hidden = false;
                aux = i;
            }
            mostrando = aux - ultimo;
            ultimo = aux;
        }
        //comprobamos si va a haber más clases por mostrar o no 
        if ( (ultimo+1) == clases.length ) 
            next.hidden = true;
    }
    
    function previousPage() {

        next.hidden = false;

        //Ocultamos las clases que se estaban mostrando

        for (let i = ultimo; i > (ultimo - mostrando) ; i--) {
                clases.item(i).hidden = true;
                aux = i;
        }
        ultimo = aux-1;

        // Mostramos las clases anteriores 

        for (let i = ultimo; i >= ultimo-3 ; i--) 
                clases.item(i).hidden = false;

        if ( (ultimo-3) == 0 ) 
            previous.hidden = true;
        
    }
</script>