<head>
    <script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
    {%load static%}
    <link rel="stylesheet" href="{% static 'comandaGeneral.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    
<div class = "contenedor-icono">
    {% load static %}
    <a href="{% url 'index' %}" ><i class="fa-solid fa-left-long"></i></a>

</div>

<div class = "cabecera">
	<h1><u>COMANDAS: MENÚ</u></h1>

    <div class = "imagenCentral">
        {% load static %}
        <img src='{% static "clases.png" %}' alt="Pictograma de una clase">
    </div>
</div>


<div class="section"> 

        
    {% for clase in clases %}
    <div class="imagen">
        {% load static %}
        <a href="{% url 'anadir_menu' clase.Letra %}">
            {% if clase.Check %}
            <div class="greenImg">
            {% else %}
            <div class = "redImg">
            {%endif%}
            <img src="../../../{{clase.FotoProfesor}}" alt="Foto">
                <div class="desc">
                        <b> {{clase.Profesor}} </b>
                        {% if clase.Check == True %}
                        <div class="greenIcon">
                            <i class="fa-regular fa-circle-check"></i>
                        </div>
                        {% else %}
                        <div class="redIcon">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        {% endif %}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}   
    

</div>

<div class = "contenedor-icono2">
    <i class="fa-solid fa-right-long"></i>
</div>

</body>