
{%load static%}
<link rel="stylesheet" href="{% static 'index.css' %}">
<link rel="stylesheet" href="{% static 'styles.css' %}">


<div class = "cabecera">
	<h1>COMANDAS</h1>
	<div class="visualizacionProfesor">
		<a class="urlProfesor" href="http://127.0.0.1:8000/admin">
			<h3>Admin</h3>
		</a>
	</div>
</div>

<div class="menu-selector">
	<a class="enlace-comedor" href="{% url 'comandaGeneral' %}">
		<div class="imagen-menu">

	
			<div class="title_images"><b>MENUS</b></div>
			{% load static %}
			<img src='{% static "menu.png" %}' alt="menu comedor">

		</div>
	</a>
	<a class="enlace-comedor" href="{% url 'comandaGeneral' %}">
		<div class="imagen-menu">
			
			<div class="title_images"><b>ALMACEN</b></div>

			{% load static %}
			<img src='{% static "almacen.png" %}' alt="menu almacen">
		</div>
	</a>
</div>
