{% load static %}
<script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="{% static 'css/asignar_tareas.css' %}">
<link rel="stylesheet" href="{% static 'css/principal_profesor.css' %}">
<script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>

<div class="contenedor-icono">
    <a href="{% url 'login_profesor' %}"> <i class="fa-solid fa-left-long"></i> </a>
</div>


<div class="panel">
    <a href=""><div class="tareas" ><i style="font-size: 1em; margin-top: 3%;"class="fa fa-tasks" aria-hidden="true"></i><br>TAREAS</div></a>
    <a href="#alumnos"> <div class="alumnos"><i style="font-size: 1em; margin-top: 3%;"class="fa fa-graduation-cap" aria-hidden="true"></i><br>ALUMNOS</div></a>
    <a href="{% url 'menus_totales_profesor' %}" ><div class="comandas"><i style="font-size: 1em;margin-top: 3%;"class="fa fa-shopping-basket" aria-hidden="true"></i><br>COMANDAS</div></a>
</div>


<div class="all">

    <div class="principal">
        <div class="titulo">
            <h1>
                ASIGNACION DE TAREAS
            </h1>
        </div>
        <div class="selecciones">
            <form method="POST" action ="" enctype="multipart/form-data" id="formularioBase">
                {% csrf_token %}
            <div class="tarea_estudiante">
                <div class="tarea">
                    <label for="tarea">SELECCIONE LA TAREA *</label><br>
                    <select  name="tarea" id="tarea" multiple>
                        {% for tarea in tareas %}
                            <option value="{{ tarea.Id }}">{{ tarea.Descripcion.upper }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="estudiante">
                    <label for="estudiante">SELECCIONE AL ESTUDIANTE *</label><br>
                    <select name="estudiante" id="estudiante" multiple>
                        {% for estudiante in estudiantes %}
                            <option value={{ estudiante.Nombre }}>{{ estudiante.Nombre.upper }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="fechas">

                <div class="fecha_inicio">
                    <label for="fecha_ini_id">FECHA DE INICIO *</label><br>
                    <input class="form-control" id="fecha_ini_id" name="fecha_ini_id" placeholder="Selecciona la fecha">
                </div>

                <div class="fecha_inicio">
                    <label for="fecha_ini_id_2">FECHA DE FIN *</label><br>
                    <input class="form-control" id="fecha_ini_id_2" name="fecha_ini_id_2" placeholder="Selecciona la fecha">
                </div>

            </div>
                <div class="c_asignar">
                    <label for="checkbox_comedor">ASIGNAR COMANDA COMEDOR</label>
                    <input type="checkbox" id="checkbox_comedor" name="checkbox_comedor">
                </div>
                <div class="c_asignar">
                    <label for="checkbox_almacen">ASIGNAR COMANDA ALMACEN</label>
                    <input type="checkbox" id="checkbox_almacen" name="checkbox_almacen" onclick="addDiv()">
                </div>

                <div id="sel_imagen">
                    <label for="adjunto">MATERIAL NECESARIO</label>
                    <input type="text" name="nombre_material" id="nombre_material"/>
                    <input type="file" name="adjunto" id="adjunto" accept=".pdf,.jpg,.png" />
                    <label for="cantidad_material">CANTIDAD</label>
                    <input type="number" name="cantidad_material" id="cantidad_material"/>
                    <input type="submit" id="enviar_comanda_almacen" value="AÑADIR MATERIAL" onclick="setOculta()"/>
                </div>

                <div class="oculta">
                    <input type="number" id="oculta_number" name="oculta_number">
                </div>
            </form>
        </div>



        <div id="message_to">
            <p>Rellena todos los campos con el simbolo "*"</p>
        </div>

        <div class="boton_enviar">
            <input form = "formularioBase" type="submit" value="Asignar" id="formularioBase" onclick="return pintar()">
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>



new MultiSelectTag('tarea')  // id
    new MultiSelectTag('estudiante')  // id

    flatpickr("#fecha_ini_id",{
        enableTime: true,
        dateFormat: "Y-m-d H:i",
    });
     flatpickr("#fecha_ini_id_2",{
        enableTime: true,
        dateFormat: "Y-m-d H:i",
    });

    var select_tarea = document.getElementById("tarea")
    var select_estudiante = document.getElementById("estudiante")
    var fecha_inicio = document.getElementById("fecha_ini_id")
    var fecha_fin = document.getElementById("fecha_ini_id_2")
    var isAlmacen = document.getElementById("checkbox_almacen")
    var seleImage = document.getElementById("sel_imagen")

    var message = document.getElementById("message_to")
    var oculta = document.getElementById("oculta_number")

    function addDiv() {

        if(isAlmacen.checked){
            seleImage.style.display = "block"
        }else{
            seleImage.style.display = "none"
        }
    }

    function setOculta() {
        oculta.value=2
    }

    function pintar(){
        let result = getSelectValues(select_estudiante)
        let result2 = getSelectValues(select_tarea)
        let inicio = fecha_inicio.value
        let fin = fecha_fin.value

        if(result.length == 0 || result2.length == 0 || inicio.length == 0 || fin.length == 0){
            message.style.display = "block"
            return false
        }

        oculta.value=1
        return true



    }



    function getSelectValues(select) {
      let result = [];
      let options = select && select.options;
      let opt;

      for (let i=0, iLen=options.length; i<iLen; i++) {
        opt = options[i];

        if (opt.selected) {
          result.push(opt.value); //opt.text tmb puede ser
        }
      }
      return result;
    }

</script>
