<html lang="es">
{%load static%}
<link rel="stylesheet" href="{% static 'css/index_estudiante.css' %}">
<link rel="stylesheet" href="{% static 'styles.css' %}">

<script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>


<div class = "cabecera">
    <a href="{% url 'index' %}"> <i class="fa-solid fa-left-long" alt="Icono de una flecha que señala izquierda"></i> </a>
	<h1>COMANDAS</h1>
</div>

<div class="menu-selector">
	<a class="enlace-comedor" href="{% url 'comanda_general' %}">
		<div class="imagen-menu">

	
			<div class="title_images"><b>MENUS</b></div>
			{% load static %}
			<img src='{% static "menu.png" %}' alt="Pictograma de un menu">

		</div>
	</a>
	<a class="enlace-comedor" href="{% url 'comanda_general' %}">
		<div class="imagen-menu">
			
			<div class="title_images"><b>ALMACEN</b></div>

			{% load static %}
			<img src='{% static "almacen.png" %}' alt="Pictograma de una estantería con material escolar">
		</div>
	</a>
</div>
</html>
