{%load static%}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="{% static 'css/login_profesor.css' %}">
<head>
    <script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
</head>

<body>
    
<div class = "cabecera">
    <div class = "contenedor-icono">
        {% load static %}
        <a href="{% url 'login2' %}" ><i class="fa-solid fa-user"></i></a>
    </div>
	<h1>APNE</h1>
    <div class = "contenedor-icono">
        {% load static %}
        <a href="{% url 'login' %}" ><i class="fa-solid fa-user-tie"></i></a>
    </div>
</div>

<div class = "formulario">
    <div class = "contenido">
        <div class = "contenedor-inicio">
            <h2>Inicio sesión</h2>
        </div>
        <form method="POST" action ="" enctype="multipart/form-data" id="formularioBase">
            {% csrf_token %}
            <label for="text">Usuario</label><br>
            <input type="text" id="text" name="text"><br><br>

            <label for="pwd">Contraseña</label><br>
            <input type="password" id="pwd" name="pwd"><br><br><br>

            <div class = "contenedor-btn">
                 {% if not isUser %}
                     <p class="not_found">Not found</p>
                 {% endif %}
                <input type="submit" value="Entrar" id="entrarFormul">
            </div>
        </form>

    </div>
</div>

</body>