<html lang="es">
{% load static %}
<script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="{% static 'css/password_estudiante.css' %}">


<div class="principal">

    <div class = "contenedor-icono" >
        {% load static %}
        <a href="{% url 'index' %}" ><i class="fa-solid fa-left-long" alt="Icono de una flecha que señala izquierda" ></i></a>
    </div>

    <div class="foto_estudiante">
        <div class="estudiante">
            <img class="imagen_estudiante" src="../../../{{estudiante.Imagen}}" alt="Foto del estudiante {{estudiante.Nombre}}" >
        </div>
    </div>

    <div class="foto_passwords">
        {% for imagen in imagenes %}
            <div class="password">
                <!--<span>{{imagen.Imagen}}</span>-->
                <img class="imagen_password" src="../../../{{imagen.Imagen}}"alt="Pictograma de un/una {{imagen.Nombre}}" onclick="addImg('{{imagen.Nombre}}','{{ imagen.Imagen }}')">
            </div>
        {% endfor %}
    </div>

    <div class="foto_passwords_secuencia" id="secuencia">
        {% if error %}
            <div id="spacer"></div>
            <div id="error"> <i class="fa-solid fa-x cross" alt="Icono que muestra una cruz roja"></i> </div>
        {% endif %}
    </div>

    <div class="boton_enviar">
            <input form="formularioBase" type="image" name ="prueba" id="envioForm" src="{% static 'mano.png' %}" alt="Botón verde que muestra un pictograma de una mano con el pulgar hacia arriba">
            {% if error %}
            <script>
                var btn = document.getElementById('envioForm');
                var error = document.getElementById('error');
                btn.hidden = true;

                setTimeout(function(){
                    btn.hidden = false;
                    error.parentNode.removeChild(error);
                },3000);
            </script>
            {% endif %}
    </div>

    <form method="POST" action ="" enctype="multipart/form-data" id="formularioBase" style="display: none">
        {% csrf_token %}
        <input type="text" value="{{estudiante.Nombre}}" id="nombre-estudiante" name="nombre-estudiante">
        <input type="text" value="" id="password" name="password">
    </form>

</div>
</html>

<script>

    var secuencia = document.getElementById('secuencia');
    var password = document.getElementById('password');
    var error = document.getElementById('error');
    var btn = document.getElementById('envioForm');
    
    /*if (error != null){
        btn.hidden = "true";
    }*/
    

    function addImg(nombre,imagen){
        let error = document.getElementById('error');
        if(error != undefined){
            let spacer = document.getElementById('spacer');
            error.parentNode.removeChild(error);
            btn.hidden = false;
            spacer.parentNode.removeChild(spacer);
        }
        if(secuencia.childElementCount<3){
            let node = document.createElement('div');
            node.className = "password_secuencia";
            node.id = "password-" + secuencia.childElementCount;
            let nodeImg = document.createElement('img');
            nodeImg.className = "imagen_password_secuencia";
            nodeImg.style.opacity = 0.5;
            nodeImg.src = "../../../"+imagen;
            //nodeImg.onclick=delImagen();

            node.appendChild(nodeImg);
            secuencia.appendChild(node);


            if(secuencia.childElementCount !== 3){
                password.value += nombre + " " ;
            }else{
                password.value += nombre;
            }
        }

        
    }

</script>
