{% load static %}
<script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="{% static 'css/password_estudiante.css' %}">

<!-- 
    {imagenes: 
        [
            {name: caballo; url: /static/imagencaballo},
            {name: perro; url: /static/imagencaballo},
            {name: gato; url: /static/imagencaballo},
        ]
    } 
-->


<div class="principal">

    <div class = "contenedor-icono">
        {% load static %}
        <a href="{% url 'login2' %}" ><i class="fa-solid fa-left-long"></i></a>

    </div>
    <div class="foto_estudiante">

        <div class="estudiante">
            <img style="border: 2px solid; color: black;
    border-radius: 5px;" class="imagen_estudiante" src="../../../{{estudiante.Imagen}}" alt="estudiante" >

        </div>
    </div>

    <div class="foto_passwords">
        {% for imagen in imagenes %}
            <div class="password">
                <img style="border: 2px solid; color: black;
                    border-radius: 5px;" class="imagen_password" src="../../../{{imagen.Imagen}}"alt="estudiante" onclick="addImg('{{imagen.Nombre}}','{{ imagen.Imagen }}')">
            </div>
        {% endfor %}
    </div>

    <div class="foto_passwords" id="secuencia">
    </div>

    <div class="boton_enviar">
            <input form="formularioBase" type="image" name ="prueba" id="envioForm" src="{% static 'mano.png' %}">
    </div>

    <form method="POST" action ="" enctype="multipart/form-data" id="formularioBase" style="display: none">
        {% csrf_token %}
        <input type="text" value="{{estudiante.Nombre}}" id="nombre-estudiante" name="nombre-estudiante">
        <input type="text" value="" id="password" name="password">
    </form>

</div>

<script>

    var secuencia = document.getElementById('secuencia');
    var password = document.getElementById('password');

    function addImg(nombre,imagen){
        if(secuencia.childElementCount<3){
            let node = document.createElement('div');
            node.className = "password";
            node.id = "password-" + secuencia.childElementCount;
            let nodeImg = document.createElement('img');
            nodeImg.className = "imagen_password";
            nodeImg.style = "border: 2px solid; color: black;border-radius: 5px; opacity = 0.5;"
            nodeImg.src = "../../../"+imagen;
            //nodeImg.onclick=delImagen();

            node.appendChild(nodeImg);
            secuencia.appendChild(node);


            if(secuencia.childElementCount !== 3){
                password.value += nombre + " " ;
            }else{
                password.value += nombre;
            }
        }

        
    }


    function delImagen(){
    }

</script>
