{% load static %}
<script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="{% static 'css/password_estudiante.css' %}">

<div class="principal">

    <div class = "contenedor-icono">
        {% load static %}
        <a href="{% url 'login2' %}" ><i class="fa-solid fa-left-long"></i></a>

    </div>
    <div class="foto_estudiante">

        <div class="estudiante">
            <img style="border: 2px solid; color: black;
    border-radius: 5px;" class="imagen_estudiante" src="../../../{{estudiante.Imagen}}" alt="estudiante">

        </div>
    </div>

    <div class="foto_passwords">
        <div class="password">
            <img style="border: 2px solid; color: black;
                border-radius: 5px;" class="imagen_password" src='{% static "profesores/foto.jpeg" %}' alt="estudiante">
        </div>
        <div class="password">
            <img style="border: 2px solid; color: black;
                border-radius: 5px;" class="imagen_password" src='{% static "profesores/foto.jpeg" %}' alt="estudiante">
        </div>
        <div class="password">
            <img style="border: 2px solid; color: black;
                border-radius: 5px;" class="imagen_password" src='{% static "profesores/foto.jpeg" %}' alt="estudiante">
        </div>
    </div>

    <div class="foto_passwords">
        <div class="password">
            <img style="border: 2px solid; color: black;
                border-radius: 5px;" class="imagen_password" src='{% static "profesores/foto.jpeg" %}' alt="estudiante">
        </div>
        <div class="password">
            <img style="border: 2px solid; color: black;
                border-radius: 5px;" class="imagen_password" src='{% static "profesores/foto.jpeg" %}' alt="estudiante">
        </div>
        <div class="password">
            <img style="border: 2px solid; color: black;
                border-radius: 5px;" class="imagen_password" src='{% static "profesores/foto.jpeg" %}' alt="estudiante">
        </div>
    </div>

    <div class="boton_enviar">
            <input form="formularioBase" type="image" name ="prueba" id="envioForm" src="{% static 'mano.png' %}">
    </div>

</div>


