{%load static%}
<script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/visualizar_comandas_comedor.css' %}">
<link rel="stylesheet" href="{% static 'styles.css' %}">

<html lang="es">
    <head>
        <title>Visualizar Comandas Comedor</title>
    </head>
    <body>
        <div class="header">
            <div class = "contenedor-icono">
                {% load static %}
                <a href="javascript:history.back()" ><i class="fa-solid fa-left-long"  alt="Icono de una flecha que señala izquierda"></i></a>
            </div>
            <u>MENÚS COMEDOR</u>
        </div>

        {% if lista  %}
            <div id="listado">
            {% for menu in lista %}
                <div class="menu">
                    <div>
                        <span class="tipo">{{menu.menu}}</span>
                        <span class="num">{{menu.cantidad}}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="emptyList">
                <h1>No se ha encontrado ningún menú</h1>
            </div>
        {% endif %}

    </body>
</html>