<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/visualizar_tareas_img.css' %}">
    <script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
    <!--<link rel="icon" type="image/x-icon" href='{% static "agenda.jpg" %}'>-->
    <title>APNE</title>
</head>


<body>

    <div class = "cabecera">
        
        <div class = "anterior">
            <div class = "flecha">
                <a href="{% url 'agenda' Estudiante %}"><i class="fa-solid fa-left-long"></i></a>
            </div>
        </div>

        <div class = "contenedor_titulo">
            <h1>{{tarea.Descripcion}}</h1>
        </div>

        <div class = "imagenCentral">
            {% load static %}
            <img src='/{{tarea.Imagen}}' alt="Imagen de {{tarea.Descripcion}}">
        </div>


    </div>

    <div class="section"> 

        <div class="grid-container">

            {% for paso in pasos %}
                <div class = "paso">
                    <div class = "num_paso">
                        <img src='/static/imagenes/numeros/{{paso.Orden}}.png'>
                    </div>

                    <div class = "explicacion_paso">
                        <img src='/{{paso.Imagen}}' alt="{{paso.Descripcion}}">
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <div class = "footer">

        <div class = "contenedor_btn1">
            <div class = "noRealizada">
                <img src='{% static "mano_mal.png" %}'> 
            </div>
        </div>
    
        <div class = "contenedor_btn2">
            <div class="realizada">
                    <input type="image" src="{% static 'mano.png' %}">
            </div>
        </div>

    </div>



    <div class = "contenedor-icono2">

            <div class = "contenido" id ="paginaAnterior" onclick="previousPage()">
                <i class="fa-solid fa-left-long"></i>
                <span>Página anterior</span>
            </div>


            <div class = "contenido" id = "paginaSiguiente" onclick="nextPage()">
                <span>Página siguiente</span>
                <i class="fa-solid fa-right-long"></i>
            </div>

    </div>


</body>

<script>
    // Si hay más de 6 pasos, tenemos más páginas
    let previous = document.getElementById("paginaAnterior");
    previous.style.visibility = "hidden";
    let next = document.getElementById("paginaSiguiente");

    let pasos = document.getElementsByClassName("paso");
    if ( pasos.length > 4) {
        console.log("holaaaacaracoola");
        for (let i = 4 ; i < pasos.length; i++) 
            pasos.item(i).style.display = "none";
        next.style.visibility ='visible';
    }
    else 
        next.style.visibility ='hidden';
    
    let ultimo = 3;
    let mostrando = 4;

    function nextPage(){

        previous.style.visibility='visible';

        // Ocultamos los pasos que se han mostrado en la página anterior si existen más pasos por mostrar
        if ( (ultimo+1) != pasos.length ) {
            for (let i = ultimo; i >= ultimo-3 ; i--) 
                pasos.item(i).style.display = "none";
        

            // Mostramos los siguientes pasos
            
            for (let i = ultimo+1 ; (i < pasos.length) && (i < ultimo+5) ; i++) {
                pasos.item(i).style.display='flex';
                aux = i;
            }
            mostrando = aux - ultimo;
            ultimo = aux;
        }
        //comprobamos si va a haber más pasos por mostrar o no 
        if ( (ultimo+1) == pasos.length ) 
            next.style.visibility = "hidden";

    }


    function previousPage(){

        next.style.visibility='visible';

        //Ocultamos los pasos que se estaban mostrando

        for (let i = ultimo; i > (ultimo - mostrando) ; i--) {
                pasos.item(i).style.display = "none";
                aux = i;
        }
        ultimo = aux-1;
        

        // Mostramos los pasos anteriores 
        mostrando = 4;
        for (let i = ultimo; i >= ultimo-3 ; i--) {
            pasos.item(i).style.display='flex';
        }
        

        if ( (ultimo-3) == 0 ) 
            previous.style.visibility = "hidden";

    }
    
</script>
