{%load static%}
<script src="https://kit.fontawesome.com/5a852abedd.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'visualizarComandasComedor.css' %}">
<link rel="stylesheet" href="{% static 'styles.css' %}">

<html>
    <head>
        <title>Visualizar Comandas Comedor</title>
        <link rel="stylesheet" href="{% static 'visualizarComandasComedor.css'%}">
    </head>
    <body>
        <div class="header">
            <div class = "contenedor-icono">
                {% load static %}
                <a href="{% url 'index' %}" ><i class="fa-solid fa-left-long"></i></a>
            </div>
            <u>MENÚS COMEDOR</u>
        </div>

        {% if lista  %}
            <div id="listado">
            {% for menu in lista %}
                <div class="menu">
                    <div>
                        <span class="tipo">{{menu.menu}}</span>
                        <span class="num">{{menu.cantidad}}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="emptyList">
                <h1>No se ha encontrado ningún menú</h1>
            </div>
        {% endif %}

    </body>
</html>