.cabecera{
    display: flex;
    align-items: center;
    text-align: center;
    height: 12%;
}

h1 {
    font-size: 4em;
    width: 70%;
    align-items: center;
}
.title_images {
    font-size: 3em;
    text-align: center;
}

.imagen-menu {
    border: 40px;
    border-width: thick;
    border-color: black;
    border: solid;

    width: fit-content;
    margin: auto;
    margin-bottom: 7.5%;

    padding: 2%;
    border-radius: 30px;
    background-color:cornsilk;
}


.imagen-menu img{
    max-height: 30vh;
}

.enlace-comedor{
    text-decoration: none;
    color:black;
}

.title_images{
    color:black;
}



.visualizacionProfesor {
    border-width: thick;
    border-color: black;
    border: 40px;
    border: solid;
    margin: 2%;
    padding: 2%;
    border-radius: 30px;
    background-color:cornsilk;
}

/* Responsive */
@media screen and (min-width: 1080px) {
    .menu-selector {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
        margin:auto;
        margin-top: 10%;
    }
    .imagen-menu {
        
        padding-left: 20%;
        padding-right: 20%;
    }
  
}

.menu-selector{
    display: grid;
    grid-column: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4%;
}

